<app-navbar></app-navbar>
<div class="container-fluid">
    <p><strong>{{title}}</strong></p>
</div>
<div class="container-fluid">
    <div *ngIf="ie == true" class="alert alert-danger" role="alert">
        Invalid Email
    </div>
</div>
<div class="container-fluid">
    <div *ngIf="ip == true" class="alert alert-danger" role="alert">
        Invalid Password
    </div>
</div>
<div class="container-fluid">
    <form class="row g-3" #loginForm="ngForm" (ngSubmit)="loginAdmin(loginForm.value)">
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" ngModel>
        </div>
        <div class="col-auto">
            <label for="inputPassword2" class="visually-hidden">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" ngModel>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Log In</button>
        </div>
    </form>
</div>
<div class="container-fluid">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"><strong>Log In Details</strong></h5>
            <div class="container-fluid">

            </div>
            <h6>We have hardcoded Admin details.</h6>
            <div class="container-fluid">

            </div>
            <p><strong>Email: </strong>admin@gmail.com</p>
            <p><strong>Password: </strong>root</p>
        </div>
    </div>
</div>