<app-navbar></app-navbar>
<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5">
                    <div>
                        <div class="text-left logo p-2 px-5">
                            <span class="btn1">Confirm Your Order ??</span>
                            <span class="btn1">
                                <button class="btn1" type="button" class="btn btn-primary" (click)="yes()">YES</button>
                            </span>
                            <span class="btn1">
                                <button class="btn1" type="button" class="btn btn-primary" (click)="no()">NO</button>
                            </span>
                        </div>
                        <div class="invoice p-5">
                            <h5>Please Confirm Your Order !!</h5>
                            <p *ngIf="isFetching == true">Loading...</p>
                            <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                            </div>
                            <div class="product border-bottom table-responsive">
                                <table class="table table-borderless">
                                    <tbody>
                                        <tr *ngFor="let item of cartItems">
                                            <td width="20%">
                                                <img src={{item.image}} width="90">
                                            </td>
                                            <td width="60%">
                                                <span class="font-weight-bold">{{item.name}}</span>
                                                <div class="product-qty">
                                                    <span class="d-block">Quantity:1</span>
                                                    <span>Color:Dark</span>

                                                </div>
                                            </td>
                                            <td width="20%">
                                                <div class="text-right">
                                                    <span class="font-weight-bold">Rs. {{item.price}}</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row d-flex justify-content-end">
                                <div class="col-md-5">
                                    <table class="table table-borderless">
                                        <tbody class="totals">
                                            <tr class="border-top border-bottom">
                                                <td>
                                                    <div class="text-left">
                                                        <span class="font-weight-bold">Subtotal</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-right">
                                                        <span class="font-weight-bold">{{totalPrice}}</span>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="text-left logo p-2 px-5">
                            <span class="btn1">Confirm Your Order ??</span>
                            <span class="btn1">
                                <button class="btn1" type="button" class="btn btn-primary" (click)="yes()">YES</button>
                            </span>
                            <span class="btn1">
                                <button class="btn1" type="button" class="btn btn-primary" (click)="no()">NO</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>