<div class="parent-div">
    <div class="child-div">
        <form class="row g-3" #searchForm="ngForm" (ngSubmit)="searchItem(searchForm.value)">
            <div class="col-auto">
                <input class="form-control" placeholder="Type to search food" name="name" ngModel>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary mb-3">Search</button>
            </div>
        </form>
    </div>
</div>
<p *ngIf="searchedFood.length > 0"><strong>Searched List</strong></p>
<div class="parent-div" *ngIf="searchedFood.length > 0">
    <div class="child-div">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Add 2 Cart</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of searchedFood">
                    <th scope="row">{{item.name}}</th>
                    <td>{{item.type}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.description}}</td>
                    <td><button class="btn btn-primary" type="submit">Add 2 Cart</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>